/*
container - #FFF5E0
header - #FF6969
shadow - #C70039
text color - #141E46

*/

*{
    font-family: 'Cabin', sans-serif;
    color: #141E46;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

header {
    height: 80px;
    background-color: #FF6969;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
}

.header {
    max-width: 1180px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header span {
    font-size: 50px;
}

header nav{
    display: inline-block;
    
}

header nav ul{
    list-style: none;
    font-size: 25px;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li:last-of-type{
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    padding: 0 15px;
    transition: ease-in-out 0.2s;
}


header nav ul li a:hover {
    background-color: white;
    border-radius: 10px;
}

section {
    height: 100vh;
}

.about {
    max-width: 1180px;
    height: 100%;
    margin: auto;
    display: flex;
}

.about .intro, .about .image{
    width: 50%;
    height: 100%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    border-radius: 10px;
    max-width: 100%;
    height: 600px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 100%;
}

.intro h1, .intro p{
    margin: 0;
}

.intro h1 {
    font-size: 40px;
}

.intro h1 span {
    color: #FF6969;
}

.intro p{
    margin: 10px 0 20px 0;
    font-style: italic;
}

.intro ul{
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
}

.intro ul li{
    margin-right: 10px;
}

.intro ul li:last-of-type{
    margin-right: 0;
}

.intro ul li a{
    text-decoration: none;
    transition: ease-in-out 0.2s;
    padding: 10px 10px;
    border: #FF6969 solid 1px;
    border-radius: 10px 0 10px 0;
}

.intro ul li a:hover{
    background-color: #FF6969;
    border-radius:0 10px 0 10px;
}

section#project {
    background-color: #FF6969;
}

.project {
    max-width: 1180px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project h1{
    margin: 0;
    margin-bottom: 20px;
    font-size: 100px;
    text-align: center;
}

.project ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.project ul li{
    border: 1px solid #141E46;
    width: 40%;
    height: 500px;
    border-radius: 30px 0 30px 0;
    transition: ease-in-out 0.2s;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project ul li:hover{
    box-shadow: 0 12px 22px rgba(0, 0, 0, 1);
}

.project ul li img{
    max-width: 100%;
    height: 300px;
    margin-top: 10px;
}


.project ul li .details h1 {
    margin: 0;
    font-size: 50px;
}

.project ul li .details p {
    margin: 0;
    text-align: justify;
    text-indent: 40px;
}

.project ul.used {
    margin-top: 20px;
}

.project ul.used li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0;
    height: 30px;
    margin-right: 10px;
}

.project ul.used li:last-of-type{
    margin-right: 0;
}

.project ul.used li:hover {
    border-radius: 0 10px 0 10px;
}

section#contact {
    background-color: #141E46;
}

.contact {
    max-width: 1180px;
    margin: auto;
    color: #FF6969;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h1 {
    margin: 0;
    padding: 0;
    color: #FF6969;
    font-size: 50px;
}

.contact hr {
    width: 10%;
    margin: 20px 0;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 300px;
    width: 30%;
    background-color: rebeccapurple;
    border-radius: 10px;
}

.contact form input,.contact form textarea, .contact form button {
    box-sizing: border-box;
    width: 90%;
    padding: 5px;
    border: none;
    margin-bottom: 5px;
    text-align: center;
}

.contact form input.name{
    border-radius: 10px 10px 0 0 ;
}

.contact form button.submit{
    text-transform: uppercase;
    border-radius:0 0 10px 10px;
    margin-bottom: 0;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.contact form button.submit:hover{
    background-color: #141E46;
    color: #FF6969;
}