/*
container - #FFF5E0
header - #FF6969
shadow - #C70039
text color - #141E46

*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    color: #141E46;
    scroll-behavior: smooth;
}

body{
    background-color: #FFF5E0;
}

header {
    background-color: #FF6969;
    box-shadow: 0 1px 12.6px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.header {
    height: 10vh;
    max-width: 1180px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    
}

.header span {
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
}

.header nav {
    display: inline-block;
    font-size: 20px;
}

.header ul li {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
}

.header ul li:last-of-type {
    margin-right: 0;
}

.header ul li a{
    text-decoration: none;
    padding: 5px;
    
}

.header ul li a:hover{
    text-decoration: none;
    background-color: rgba(199, 0, 57, 0.2);
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

section{
    width: 100%;
}

.about, .project, .contact {
    max-width: 1180px;
    margin: auto;
    height: 100vh;
}

#project {
    background-color: #FF6969;
}

#contact {
    background-color: #141E46;
}

.contact {
    color: #FF6969;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about img {
    max-width: 100%;
    height: 80vh;
    border-radius: 5px;
}

.about .text {
    width: 100%;
}

.about .text h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about .text h1 span {
    color:#FF6969;
}

.about .text p {
    font-style: italic;
    margin-bottom: 20px;
}

.about .text button{
    padding: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #141E46;
    color: #FFF5E0;
    transition: ease-in 0.2s;
}

.about .text button:hover {
    background-color: #FF6969;
    color: #141E46;
}